<h1>用户调查结果</h1>

<table>
  <thead>
    <tr>
      <th>访谈时间</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>所在地</th>
      <th>行业</th>
      <th>职业</th>
      <th>月度可支配收入</th>
      <th>寻求服务的渠道</th>
      <th>购买服务的前提</th>
      <th>愿意购买的服务类型</th>
      <th>愿意单词支付的金额</th>
      <th>售卖服务的目的</th>
      <th>愿意收买的服务内容</th>
      <th>愿意售卖服务的形式</th>
      <th>售卖单价</th>
      <th>建议</th>
      <th>定位</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.time %></td>
        <td><%= thing.name %></td>
        <td><%= thing.sex %></td>
        <td><%= thing.age %></td>
        <td><%= thing.location %></td>
        <td><%= thing.category %></td>
        <td><%= thing.job %></td>
        <td><%= thing.money %></td>
        <td><%= thing.search_service %></td>
        <td><%= thing.buy_service_prepare %></td>
        <td><%= thing.buy_service_category %></td>
        <td><%= thing.buy_service_money %></td>
        <td><%= thing.sell_service_purpose %></td>
        <td><%= thing.sell_service_content %></td>
        <td><%= thing.sell_service_type %></td>
        <td><%= thing.sell_service_money %></td>
        <td><%= thing.suggestion %></td>
        <td><%= thing.position %></td>
        <!--<td><%= link_to 'Show', thing %></td>
        <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Thing', new_thing_path %>-->
