<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @thing.time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @thing.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @thing.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @thing.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @thing.category %>
</p>

<p>
  <strong>Job:</strong>
  <%= @thing.job %>
</p>

<p>
  <strong>Money:</strong>
  <%= @thing.money %>
</p>

<p>
  <strong>Search service:</strong>
  <%= @thing.search_service %>
</p>

<p>
  <strong>Buy service prepare:</strong>
  <%= @thing.buy_service_prepare %>
</p>

<p>
  <strong>Buy service category:</strong>
  <%= @thing.buy_service_category %>
</p>

<p>
  <strong>Buy service money:</strong>
  <%= @thing.buy_service_money %>
</p>

<p>
  <strong>Sell service purpose:</strong>
  <%= @thing.sell_service_purpose %>
</p>

<p>
  <strong>Sell service content:</strong>
  <%= @thing.sell_service_content %>
</p>

<p>
  <strong>Sell service type:</strong>
  <%= @thing.sell_service_type %>
</p>

<p>
  <strong>Sell service money:</strong>
  <%= @thing.sell_service_money %>
</p>

<p>
  <strong>Suggestion:</strong>
  <%= @thing.suggestion %>
</p>

<p>
  <strong>Position:</strong>
  <%= @thing.position %>
</p>

<!--<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>-->
